page-nuevoreq3 {

  .content {
    background-color: map-get($colors, light);
  }

  .scroll-content {
    padding: 15px;
  }

  .centered {
    text-align: center;
  }

 
  .refresher-pulling-icon ion-icon {
    font-family: "Ionicons" !important;
  }

}

