<ion-list radio-group class="popover-page" style="border-radius: 10px">
  <div class="close" (click)="close()">
    <span class="icon-cerrar"></span>
  </div>
  <ion-item (click)="takePicture()" style="border-radius: 10px 10px 0px 0px;">
    <ion-label>{{ 'POPOVER_PET_MEDIA_OPTIONS.TAKE_PICTURE' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-movil"></span>
    </ion-note>
  </ion-item>
  <ion-item (click)="openGallery()">
    <ion-label>{{ 'POPOVER_PET_MEDIA_OPTIONS.CHOOSE_FROM_ALBUM' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-album"></span>
    </ion-note>
  </ion-item>

  <ion-item *ngIf="canMark" (click)="markMain(imagenIndex)">
    <ion-label>{{ 'POPOVER_PET_MEDIA_OPTIONS.SET_AS_MAIN' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-principal"></span>
    </ion-note>
  </ion-item>

  <ion-item *ngIf="canDelete" (click)="delete(imagenIndex)" style="border-radius: 10px;">
    <ion-label>{{ 'POPOVER_PET_MEDIA_OPTIONS.DELETE_PICTURE' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-eliminar"></span>
    </ion-note>
  </ion-item>


</ion-list>
