<ion-list radio-group class="popover-page" style="border-radius:10px;">
  <div class="close" (click)="close()">
    <span class="icon-cerrar"></span>
  </div>
  <ion-item *ngIf="!petMissing" (click)="setEstado(petId, 'lost');" style="border-radius:10px;">
    <ion-label>{{ 'POPOVER_PET_STATE.LOST_PET' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-lupa"></span>
    </ion-note>
  </ion-item>
  <ion-item *ngIf="petMissing" (click)="setEstado(petId, 'found');">
    <ion-label>{{ 'POPOVER_PET_STATE.PET_FOUND' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-lupa"></span>
    </ion-note>
  </ion-item>
  <ion-item *ngIf="!petLoving" (click)="setEstado(petId, 'searching');">
    <ion-label>{{ 'POPOVER_PET_STATE.I_AM_LOOKING_FOR_PARTNER' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-corazon"></span>
    </ion-note>
  </ion-item>
  <ion-item *ngIf="petLoving" (click)="setEstado(petId, 'nosearching');">
    <ion-label>No estoy buscando pareja</ion-label>
    <ion-note item-right>
      <span class="icon-corazon"></span>
    </ion-note>
  </ion-item>
  <ion-item (click)="setEstado(petId, 'remove');" style="border-radius:10px;">
    <ion-label>{{ 'POPOVER_PET_STATE.DELETE_PET' | translate }}</ion-label>
    <ion-note item-right>
      <span class="icon-eliminar"></span>
    </ion-note>
  </ion-item>
</ion-list>
