<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content scrollX="false" scrollY="false" scroll="false" class="noscroll">
	<ion-scroll scrollX="false" scrollY="true">
	  <img class="logo" src="assets/img/logo.png" alt="">
	  <div *ngIf="welcome0 && ios">
		<div class="welcome">Bienvenido</div>
	  </div>
	  <div *ngIf="(welcome0 && android) || (welcome0 || iosSkip == 1) && !welcome1">
		  <div class="welcome">Bienvenido</div>
		  <div class="listWrapper" scroll="false">
		    <ion-list>
		      <ion-item>
		      	<ion-label floating>Tu nombre y apellido</ion-label>
		        <ion-input type="email" [(ngModel)]="login.name" placeholder=""></ion-input>
		      </ion-item>
		      <ion-item>
		      	<ion-label floating>Tu email</ion-label>
		        <ion-input type="text" [(ngModel)]="login.email" placeholder=""></ion-input>
		      </ion-item>
		    </ion-list>
		  </div>
		  <div class="buttonWrapper">
		    <button class="buttonPinkOrange" ion-button round full (click)="next()">Continuar con mi email</button>
		  </div>
		  <button ion-button color="dark" class="forceDark" (click)="initWithoutAccount()" *ngIf="iosSkip == 1">Continuar como invitado</button>
	  </div>
	  <div *ngIf="welcome1">
		  <div class="welcome">Ingrese clave de acceso</div>
		  <p>Esta cuenta está protegida por contraseña.</p>
		  <div class="listWrapper" scroll="false">
		    <ion-list>
		      <ion-item>
		      	<ion-label floating>Tu clave</ion-label>
		        <ion-input type="password" [(ngModel)]="login.passwd" text-center></ion-input>
		      </ion-item>
		    </ion-list>
		  </div>
		  <div class="buttonWrapper">
		    <button class="buttonPinkOrange" ion-button round full (click)="withPassword()">Iniciar sesión</button>
		  </div>
		  <br />
		  <ion-grid>
			<ion-row>
				<ion-col col-6>
					<button ion-button color="dark" class="forceDark" (click)="volver()">Volver</button>
				</ion-col>
				<ion-col col-6>
					<button ion-button color="dark" class="forceDark" (click)="recoverPassword()">Recuperar clave</button>
				</ion-col>
			</ion-row>
		  </ion-grid>
		  
	  </div>

	</ion-scroll>
</ion-content>
