<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Números Útiles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <div *ngIf="!isLoading">
    <ion-item-group *ngFor="let s of sections">
      <ion-item-divider> {{s.title}} </ion-item-divider>
      <ion-item *ngFor="let x of s.subs" (click)="callToNumber(x.number)">
        <ion-icon name="call" item-start></ion-icon>
        {{x.title}}
      </ion-item>
    </ion-item-group>
    <!--
    <ion-grid class="grid">
      <ion-row>
        <ion-col col-4 *ngFor="let s of sections">
          <button (click)="callToNumber(s)"> <div> <img src="{{s.icon}}" /> <br> <label>{{s.name}}</label> </div> </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    -->
  </div>
</ion-content>
