<!--
  Generated template for the MyPetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <span class="icon-menu"></span>
    </button>
    <ion-title>{{ 'APP_MENU.LOST_PETS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="over" *ngIf="over">
    <ion-grid>
      <ion-row>
      <ion-col col-9><h1>Filtros de búsqueda</h1> </ion-col>
      <ion-col col-3 text-center><img (click)="closeFiltros();" src="assets/img/close.png" style="max-width: 40px;" /></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Especie</ion-col>
        <ion-col col-6>
          <ion-select [(ngModel)]="search.type" (ionChange)="refreshRazas($event)">
            <ion-option value="">Cualquiera</ion-option>
            <ion-option *ngFor="let species of especies" [value]="species.id">{{species.species}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Raza</ion-col>
        <ion-col col-6>
          <ion-select [(ngModel)]="search.breed">
            <ion-option value="">Cualquiera</ion-option>
            <ion-option *ngFor="let breed of razas" [value]="breed.id">{{breed.breed}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Edad</ion-col>
        <ion-col col-6>
          <ion-select [(ngModel)]="search.age">
            <ion-option value="">Cualquiera</ion-option>
            <ion-option value="0-1">Menos de un año</ion-option>
            <ion-option value="1-3">entre 1 y 3 años</ion-option>
            <ion-option value="3-5">entre 3 y 5 años</ion-option>
            <ion-option value="5-7">entre 5 y 7 años</ion-option>
            <ion-option value="7-10">entre 7 y 10 años</ion-option>
            <ion-option value="10-1000">más de 10 años</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Sexo</ion-col>
        <ion-col col-6>
          <ion-select [(ngModel)]="search.sex">
            <ion-option value="">Cualquiera</ion-option>
            <ion-option *ngFor="let sex of sexs" [value]="sex.id">{{sex.value}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Tamaño</ion-col>
        <ion-col col-6>
          <ion-select [(ngModel)]="search.size">
            <ion-option value="">Cualquiera</ion-option>
            <ion-option *ngFor="let size of sizes" [value]="size.id">{{size.value}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="tabs">
    <button (click)="Tab1()" [ngClass]="tab1 ? 'activo' : ''">Mascotas perdidas</button>
    <button (click)="Tab2()" [ngClass]="tab2 ? 'activo' : ''">Encontré una mascota</button>
  </div>

  <div *ngIf="tab1">
    <div class="f0">
      <!-- start Banner -->
      <ins data-revive-zoneid="9" data-revive-id="9d276fa041e1067786e857fe85ab98f9"></ins>
      <!-- end Banner -->
      <div class="t">
        <h1 *ngIf="mylostpets.length > 0"><br>MIS MASCOTAS PERDIDAS<br></h1>
        <ion-row responsive-sm wrap>
          <ion-col col-6 *ngFor="let pet of mylostpets">
           <div class="rondme" (click)="goToDetail(pet,true)">
            <div class="foto" [style.background-image]="'url(' + (pet.avatar != '' ? staticUrl+pet.avatar : 'assets/img/default/pet.png' ) + ')'" style="background-size: cover;">
            </div>
            <div class="name">{{pet.name}}</div>
            <div class="sub">Especie: {{pet.type_name}}</div>
            <div class="sub">Raza: {{pet.breed_name}}</div>
            <div class="sub">Sexo: {{pet.sex_name}}</div>
            <div class="sub">Tamaño: {{pet.size_name}}</div>
            <div class="sub">Edad: {{pet.name}}</div>
           </div>
          </ion-col>
        </ion-row>

      <ion-grid class="t">
        <ion-row>
        <ion-col col-10><h1>MASCOTAS REPORTADAS COMO PERDIDAS</h1> </ion-col>
        <ion-col col-2 text-center><img (click)="openFiltros();"  src="assets/img/filter.png" style="max-width: 40px; margin: 10px 0px;q" /></ion-col>
        </ion-row>
      </ion-grid>


        <div text-center *ngIf="findpets.length == 0"><strong>No hay reportes</strong></div>

        <ion-row responsive-sm wrap>
          <ion-col col-6 *ngFor="let pet of findpets">
           <div class="rondme" (click)="goToDetail(pet,false)">{{pet.avatar}}
            <div class="foto" [style.background-image]="'url(' + (pet.avatar != '' ? staticUrl+pet.avatar : 'assets/img/default/pet.png' ) + ')'" style="background-size: cover;">
            </div>
            <div class="name">{{pet.name}}</div>
            <div class="sub">Especie: {{pet.type_name}}</div>
            <div class="sub">Raza: {{pet.breed_name}}</div>
            <div class="sub">Sexo: {{pet.sex_name}}</div>
            <div class="sub">Tamaño: {{pet.size_name}}</div>
            <div class="sub">Edad: {{pet.name}}</div>
           </div>
          </ion-col>
        </ion-row>

      </div>
    </div>
  </div>
  <div *ngIf="tab2">
    <div class="f0">
      <!-- start Banner -->
      <ins data-revive-zoneid="9" data-revive-id="9d276fa041e1067786e857fe85ab98f9"></ins>
      <!-- end Banner -->
      <div class="t">
        <h1><br>ENCONTRÉ UNA MASCOTA PERDIDA<br></h1>
        <p>Si encontraste una mascota perdida, escanea su código adherido a su collar para avisar a su dueño.</p>
        <div class="buttonWrapper">
          <button class="buttonPinkOrange" (click)="scanear()" ion-button round>{{ 'BUTTONS.SCAN' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

