page-modalDetail {
	.media {
		background-position: center;
		height: 30vh;
	}
	.scroll-content {
		background-color: #FFF;
	}
	.pd20 {
		padding: 20px;
	}
	ion-title {
		padding: 0px !important;
		padding-right: 40px !important;
		padding-left: 20px !important;
	}
	p {
	 text-align: justify;
	}

	.top img { width: 100%; max-width: 100%; }

	.swiper-pagination {
		background-color: #FFF;
	}
	.buttonWrapper {
		float: right;
		margin-right: 15px;
		display: inline-block;
	}
	.buttonWrapper button {
		min-width: 90px;
		height: 30px;
	}
}
