<!--
  Generated template for the MyPetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="no-padding">{{title}}</ion-title>
    <ion-buttons end>
      <button class="search-top" ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="searchbar" *ngIf="searchActive">
      <ion-searchbar (ionClear)="onClear($event)" (ionInput)="onSearch($event)" [(ngModel)]="search" placeholder="Tiendas, productos y servicios en {{title}}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="isSearching" class="search-container">
  <div *ngIf="isSearchingLoad">
    <div text-center>
      <ion-spinner></ion-spinner>
      <br /><br />
      <strong>Buscando</strong><br />
      &quot;{{search}}&quot;
    </div>
  </div>
  <div *ngIf="!isSearchingLoad">
    <div *ngIf="searchStores.length == 0 && searchProducts.length == 0 && searchServices.length == 0 && !isSearchingLoad" text-center>
      <ion-icon name="hand"></ion-icon>
      <br />
      <strong>No se encontraron resultados</strong><br />
      &quot;{{search}}&quot;
    </div>

    <div *ngIf="(searchStores.length > 0 || searchProducts.length > 0 || searchServices.length > 0) && !isSearchingLoad">

      <ion-list>
        <ion-list-header *ngIf="searchStores.length > 0">
          Tiendas ({{searchStores.length}})
        </ion-list-header>

        <ion-item *ngFor="let result of searchStores" (click)="goToStore(result);">
          <ion-col col-2>
            <img src="{{result.icon}}" />
          </ion-col>
          <ion-col col-10>
            <ion-label>
              <strong>{{result.name}}</strong><br />
              {{result.address}} {{(result.local != "" ? "Loc. "+result.local : "")}}
            </ion-label>
          </ion-col>
        </ion-item>

        <ion-list-header *ngIf="searchProducts.length > 0">
          Productos ({{searchProducts.length}})
        </ion-list-header>

        <ion-item *ngFor="let result of searchProducts" (click)="goToStore(result.store);">
          <ion-col col-2>
            <img src="{{result.icon}}" />
          </ion-col>
          <ion-col col-10>
            <ion-label>
              <strong>{{result.name}}</strong><br />
              {{result.address}} {{(result.local != "" ? "Loc. "+result.local : "")}}
            </ion-label>
          </ion-col>
        </ion-item>

        <ion-list-header *ngIf="searchServices.length > 0">
          Servicios ({{searchServices.length}})
        </ion-list-header>

        <ion-item *ngFor="let result of searchServices" (click)="goToStore(result.store);">
          <ion-col col-2>
            <img src="{{result.icon}}" />
          </ion-col>
          <ion-col col-10>
            <ion-label>
              <strong>{{result.store.name}}</strong><br />
              {{result.name}} / $ {{result.price | number:'1.0-0' }}
            </ion-label>
          </ion-col>
        </ion-item>
      </ion-list>


    </div>
  </div>
</div>

<div *ngIf="searchActive && !isSearching" class="search-container2" text-center>
      <ion-icon name="search"></ion-icon>
      <br />
      <strong>Comienza a escribir para<br />buscar tiendas, productos o servicios<br />en {{title}}</strong><br />
      <br />
</div>


<ion-refresher (ionRefresh)="doRefresh($event)"  *ngIf="!isSearching">
  <ion-refresher-content pullingText="actualizar..." refreshingText="actualizando..."></ion-refresher-content>
</ion-refresher>

<div *ngIf="isLoading">
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
          <div class="background-masker news-icon2"></div>
         </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
          <div class="background-masker news-icon2"></div>
         </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
          <div class="background-masker news-icon2"></div>
         </div>
      </div>
  </div>
</div>

<div *ngIf="!isLoading && !searchActive">

  <ion-list class="list-store">
    <ion-item *ngFor="let store of stores" (click)="verStore(store)" text-wrap>
      <ion-avatar item-start>
        <img src="{{store.avatar != '' ? store.avatar : 'assets/img/default/store.png'}}" />
      </ion-avatar>
      <ion-row>
        <ion-col col-9>
          <h2>{{store.name}}</h2>
          <h3>{{store.address}} {{(store.local != "" ? "Loc. "+store.local : "")}}</h3>
          <!--<p>I've had a pretty messed up day. If we just...</p>-->
        </ion-col>
        <ion-col col-3 text-center class="mts">
          <div *ngIf="store.lat != '' && store.lng != ''">
            <div><img src="assets/img/map-location.png" (click)="showMap(store)" /></div>
            <div *ngIf="lat != 0 && lng != 0">
            <strong>{{showDistance(lat,lng,store.lat,store.lng)}}</strong>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</div>

<ion-card *ngIf="!isLoading && stores.length == 0">
  <ion-card-header class="no-items">
    <ion-icon name="pricetag"></ion-icon>
    <br />
    No tenemos tiendas en <br />
    <strong>{{title}}</strong>
  </ion-card-header>
  <ion-list>
    <button ion-item (click)="goContacto()">
      <b>¿Como puedo aparecer aquí?</b>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>
  </ion-list>  
</ion-card>


</ion-content>