<!--
  Generated template for the MyPetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="no-padding">CIUDAD SATÉLITE</ion-title>
    <ion-buttons end>
      <button class="search-top" ion-button icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="searchbar" *ngIf="searchActive">
      <ion-searchbar (ionClear)="onClear($event)" (ionInput)="onSearch($event)" [(ngModel)]="search" placeholder="Tiendas, productos y servicios en Ciudad Satélite"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

<img src="assets/img/jjvv.jpg" *ngIf="!searchActive" (click)="goToJJVV()" class="jjvv" />

<div *ngIf="isSearching" class="search-container">
  <div *ngIf="isSearchingLoad">
    <div text-center>
      <ion-spinner></ion-spinner>
      <br /><br />
      <strong>Buscando</strong><br />
      &quot;{{search}}&quot;
    </div>
  </div>
  <div *ngIf="!isSearchingLoad">
    <div *ngIf="searchStores.length == 0 && searchProducts.length == 0 && searchServices.length == 0 && !isSearchingLoad" text-center>
      <ion-icon name="hand"></ion-icon>
      <br />
      <strong>No se encontraron resultados</strong><br />
      &quot;{{search}}&quot;
    </div>
    <div class="search-results" *ngIf="(searchStores.length > 0 || searchProducts.length > 0 || searchServices.length > 0) && !isSearchingLoad">

      <ion-list>
        <ion-list-header *ngIf="searchStores.length > 0">
          Tiendas ({{searchStores.length}})
        </ion-list-header>

        <ion-item *ngFor="let result of searchStores" (click)="goToStore(result);">
          <ion-row>
            <ion-col col-2>
              <img src="{{result.icon}}" />
            </ion-col>
            <ion-col col-10>
                <strong>{{result.name}}</strong>
                {{result.address}} {{(result.local != "" ? "Loc. "+result.local : "")}}
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-list-header *ngIf="searchProducts.length > 0">
          Productos ({{searchProducts.length}})
        </ion-list-header>

        <ion-item *ngFor="let result of searchProducts" (click)="goToStore(result.store);">
          <ion-row>
            <ion-col col-2>
              <img src="{{result.avatar}}" />
            </ion-col>
            <ion-col col-10>
                <strong>{{result.name}}</strong>
                <strong *ngIf="result.price != 0">$ {{result.price | number:'1.0-0' }}</strong>
                Encontrado en <b>{{result.store.name}}</b>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-list-header *ngIf="searchServices.length > 0">
          Servicios ({{searchServices.length}})
        </ion-list-header>

        <ion-item *ngFor="let result of searchServices" (click)="goToStore(result.store);">
          <ion-row>
            <ion-col col-2>
              <img src="{{result.avatar}}" />
            </ion-col>
            <ion-col col-10>
                <strong>{{result.name}}</strong>
                <strong *ngIf="result.price != 0">$ {{result.price | number:'1.0-0' }}</strong>
                Encontrado en <b>{{result.store.name}}</b>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-list>

    </div>
  </div>
</div>

<div *ngIf="searchActive && !isSearching" class="search-container2" text-center>
      <ion-icon name="search"></ion-icon>
      <br />
      <strong>Comienza a escribir para<br />buscar tiendas, productos o servicios</strong><br />
      <br />
</div>

<ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isSearching">
  <ion-refresher-content pullingText="actualizar..." refreshingText="actualizando..."></ion-refresher-content>
</ion-refresher>

<div *ngIf="isLoading" class="pd20">
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
         </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
  <div class="timeline-wrapper">
      <div class="timeline-item forceh">
        <div class="animated-background">
          <div class="background-masker news-icon"></div>
        </div>
      </div>
  </div>
</div>

<div *ngIf="!isLoading && !searchActive">

  <ion-list class="pd20">
    <button ion-item detail-push *ngFor="let categ of categs" (click)="verCategoria(categ)">
      <ion-avatar item-start>
        <img src="{{categ.banner}}">
      </ion-avatar>
      <h2>{{categ.name}}</h2>
      <h3>{{categ.total_stores}} tiendas</h3>
      <!--<p>I've had a pretty messed up day. If we just...</p>-->
    </button>
  </ion-list>
</div>

</ion-content>