<!--
  Generated template for the MyPetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="rootMode">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<div *ngIf="!isLoading">

  <ion-list class="list-store">
    <ion-item text-wrap>
      <ion-avatar item-start>
        <img src="{{store.avatar != '' ? store.avatar : 'assets/img/default/store.png'}}" />
        <div class="vertical-align-content" *ngIf="lat != 0 && lng != 0 && store.lat != '' && store.lng != ''">
          <img src="assets/img/map-location.png" (click)="showMap()" />
        </div>
        <div *ngIf="lat != 0 && lng != 0 && store.lat != '' && store.lng != ''" class="distance">
          <strong>{{showDistance(lat,lng,store.lat,store.lng)}}</strong>
        </div>
      </ion-avatar>
      <ion-row>
        <ion-col col-12>
          <h2>{{store.name}}</h2>
          <h3>{{store.address}} {{(store.local != "" ? "Loc. "+store.local : "")}}</h3>
        </ion-col>
        <!--<ion-col col-2 text-right class="location">

        </ion-col>-->
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="opening {{store.open_color}}"><strong>{{store.open_now}}</strong></p>
          <p class="opening">{{store.open_news}}</p>
        </ion-col>
        <ion-col col-12>
          <span style="font-size:12px;">&nbsp;&nbsp;&nbsp;{{totalRate}} calificaciones</span>
          <rating [(ngModel)]="store.rate" 
                  max="5"  
                  emptyStarIconName="star-outline" 
                  halfStarIconName="star-half" 
                  starIconName="star" 
                  nullable="false"
                  (ngModelChange)="onChangeRating($event)"> 
          </rating>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <hr />

  <!-- Social networks --> 
  <ion-row class="to-right social">
    <ion-col col-2 *ngIf="store.email != ''">
      <button (click)="email()" block>
        <img src="assets/img/arroba.png" />
      </button>
    </ion-col>
    <ion-col col-2 *ngIf="store.whatsapp != ''">
      <button (click)="whatsapp()" block>
        <img src="assets/img/whatsapp.png" />
      </button>
    </ion-col>
    <ion-col col-2 *ngIf="store.website != ''">
      <button (click)="website()" block>
        <img src="assets/img/www.png" />
      </button>
    </ion-col>
    <ion-col col-2 *ngIf="store.facebook != ''">
      <button (click)="facebook()" block>
        <img src="assets/img/facebook.png" />
      </button>
    </ion-col>
    <ion-col col-2 *ngIf="store.instagram != ''">
      <button (click)="instagram()" block>
        <img src="assets/img/instagram.png" />
      </button>
    </ion-col>
    <ion-col col-2 *ngIf="store.twitter != ''">
      <button (click)="twitter()" block>
        <img src="assets/img/twitter.png" />
      </button>
    </ion-col>
    <ion-col col-2 *ngIf="store.phone != ''">
      <button (click)="call()" block>
        <img src="assets/img/call.png" />
      </button>
    </ion-col>
  </ion-row>
  <hr />
  <ion-row *ngIf="store.credit_card == 1" class="store-conditions">
    <ion-col col-1><ion-icon name="card"></ion-icon></ion-col>
    <ion-col col-11><b>Redcompra</b></ion-col>
  </ion-row>
  <ion-row *ngIf="store.delivery == 1" class="store-conditions">
    <ion-col col-1><ion-icon name="paper-plane"></ion-icon></ion-col>
    <ion-col col-11><b>Delivery</b></ion-col>
  </ion-row>
  <ion-row *ngIf="store.credit_card_delivery == 1" class="store-conditions">
    <ion-col col-1><ion-icon name="bicycle"></ion-icon></ion-col>
    <ion-col col-11><b>Delivery + Redcompra</b></ion-col>
  </ion-row>

  <div *ngIf="store.showcase == 1" class="showcase1">

    <h2 *ngIf="products.length > 0">Productos</h2>
    <!--<ion-card *ngIf="products.length == 0">
      <ion-card-header class="no-items">
        No se han publicado productos
      </ion-card-header>
    </ion-card>
    -->

    <div *ngIf="products.length > 0">
      <ion-slides spaceBetween="20" slidesPerView="1.5">
        <ion-slide (click)="detail(product, 'product')" *ngFor="let product of products" [ngStyle]="{'background-image': 'url('+(product.avatar == '' ? 'assets/img/default/no-pictures.png' : product.avatar)+')'}">
      	  <div class="offer" *ngIf="product.offer == '1'">Exclusivo App</div>
      	  <div class="offerLogo" *ngIf="product.offer == '1'"><img src="assets/img/tag.png" /></div>
          <div class="slide-product">
            <div class="slide-title">{{product.name}}</div>
            <div class="slide-price" *ngIf="product.price > 0">$ {{product.price | number:'1.0-0' }}</div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <h2 *ngIf="services.length > 0">Servicios</h2>
    <!--
    <ion-card *ngIf="services.length == 0">
      <ion-card-header class="no-items">
        No se han publicado servicios
      </ion-card-header>
    </ion-card>
    -->

    <div *ngIf="services.length > 0">
      <ion-slides spaceBetween="20" slidesPerView="1.5">
        <ion-slide (click)="detail(service, 'service')" *ngFor="let service of services" [ngStyle]="{'background-image': 'url('+(service.avatar == '' ? 'assets/img/default/no-pictures.png' : service.avatar)+')'}">
      	  <div class="offer" *ngIf="service.offer == '1'">Exclusivo App</div>
      	  <div class="offerLogo" *ngIf="service.offer == '1'"><img src="assets/img/tag.png" /></div>
          <div class="slide-product">
            <div class="slide-title">{{service.name}}</div>
            <div class="slide-price" *ngIf="service.price > 0">$ {{service.price | number:'1.0-0' }}</div>
          </div>
        </ion-slide>
      </ion-slides>
      <!--
      <ion-row class="store-services" *ngFor="let service of services">
        <ion-col col-8 class="tab-service-name">
          <strong>{{service.name}}</strong>
        </ion-col>
        <ion-col col-4 class="tab-service-price">
          <span *ngIf="service.price > 0">$ {{service.price | number:'1.0-0' }}</span>
        </ion-col>
        <ion-col col-12>
          <p [innerHtml]="service.description"></p>
        </ion-col>
      </ion-row>
      -->
    </div>


    <h2>Comentarios</h2>
    

    <h6>Deja tu comentario</h6>
    <app-ngx-editor [config]="editorConfig" [placeholder]="'Escriba aqui...'" [(ngModel)]="comentarios"></app-ngx-editor>
    <div align="right">
      <button ion-button (click)="enviarComentario();">Enviar</button>
    </div>
    <hr />

    <ion-card *ngIf="comments.length == 0">
      <ion-card-header class="no-items">
        No se han publicado comentarios
      </ion-card-header>
    </ion-card>
    

    <div *ngIf="comments.length > 0">
      
      <ion-list class="comentarios">
        <ion-item *ngFor="let comment of comments">
          <ion-avatar item-start>
            <div class="media" [style.background-image]="'url(' + (comment.avatar != '' && comment.avatar != null ? comment.avatar : 'assets/img/default/avatar.png' ) + ')'" style="background-size: cover;"></div>
          </ion-avatar>
          <h2>{{comment.first_name}}</h2>
          <p class="small">Publicado: {{comment.created_at | date:'dd/MM/yyyy HH:mm' }}</p>
          <p [innerHTML]="comment.comment"></p>
        </ion-item>
      </ion-list>

    </div>

  </div>

  <div *ngIf="store.showcase == 2">

    <ion-toolbar>
      <ion-segment [(ngModel)]="openTab" color="primary">
        <ion-segment-button value="products" *ngIf="products.length > 0">
          Productos
        </ion-segment-button>
        <ion-segment-button value="services" *ngIf="services.length > 0">
          Servicios
        </ion-segment-button>
        <ion-segment-button value="comments">
          Comentarios
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
    <div *ngIf="openTab == 'products'">
      <!--
      <ion-card *ngIf="products.length == 0">
        <ion-card-header class="no-items">
          No se han publicado productos
        </ion-card-header>
      </ion-card>
      -->

      <div *ngIf="products.length > 0">
        <ion-row class="store-grid">
          <ion-col (click)="detail(product, 'product')" col-6 *ngFor="let product of products" [ngStyle]="{'background-image': 'url('+(product.avatar == '' ? 'assets/img/default/no-pictures.png' : product.avatar)+')'}">
      	  <div class="offer" *ngIf="product.offer == '1'">Exclusivo App</div>
      	  <div class="offerLogo" *ngIf="product.offer == '1'"><img src="assets/img/tag.png" /></div>
            <div class="slide-product">
              <div class="slide-title">{{product.name}}</div>
              <div class="slide-price" *ngIf="product.price > 0">$ {{product.price | number:'1.0-0' }}</div>
            </div>
          </ion-col>
         </ion-row>
      </div>

    </div>

    <div *ngIf="openTab == 'services'">
      
      <!--
      <ion-card *ngIf="services.length == 0">
        <ion-card-header class="no-items">
          No se han publicado servicios
        </ion-card-header>
      </ion-card>
      -->

      <div *ngIf="services.length > 0">
        <!--
        <ion-row class="store-services" *ngFor="let service of services">
          <ion-col col-8 class="tab-service-name">
            <strong>{{service.name}}</strong>
          </ion-col>
          <ion-col col-4 class="tab-service-price">
            <span *ngIf="service.price > 0">$ {{service.price | number:'1.0-0' }}</span>
          </ion-col>
          <ion-col col-12 class="tab-service-name">
            <p [innerHtml]="service.description"></p>
          </ion-col>
        </ion-row>
        -->
       <ion-row class="store-grid">
        <ion-col (click)="detail(service, 'service')" col-6 *ngFor="let service of services" [ngStyle]="{'background-image': 'url('+(service.avatar == '' ? 'assets/img/default/no-pictures.png' : service.avatar)+')'}">
      	  <div class="offer" *ngIf="service.offer == '1'">Exclusivo App</div>
      	  <div class="offerLogo" *ngIf="service.offer == '1'"><img src="assets/img/tag.png" /></div>
          <div class="slide-product">
            <div class="slide-title">{{service.name}}</div>
            <div class="slide-price" *ngIf="service.price > 0">$ {{service.price | number:'1.0-0' }}</div>
          </div>
        </ion-col>
       </ion-row>
      </div>

    </div>
    <div *ngIf="openTab == 'comments'">

      <h6>Deja tu comentario</h6>
      <app-ngx-editor [config]="editorConfig" [placeholder]="'Escriba aqui...'" [(ngModel)]="comentarios"></app-ngx-editor>
      <div align="right">
        <button ion-button (click)="enviarComentario();">Enviar</button>
      </div>
      <hr />

      <ion-card *ngIf="comments.length == 0">
        <ion-card-header class="no-items">
          No se han publicado comentarios
        </ion-card-header>
      </ion-card>
      

      <div *ngIf="comments.length > 0">
        
        <ion-list class="comentarios">
          <ion-item *ngFor="let comment of comments">
            <ion-avatar item-start>
              <div class="media" [style.background-image]="'url(' + (comment.avatar != '' && comment.avatar != null ? comment.avatar : 'assets/img/default/avatar.png' ) + ')'" style="background-size: cover;"></div>
            </ion-avatar>
            <h2>{{comment.first_name}}</h2>
            <p class="small">Publicado: {{comment.created_at | date:'dd/MM/yyyy HH:mm' }}</p>
            <p [innerHTML]="comment.comment"></p>
          </ion-item>
        </ion-list>

      </div>


    </div>

  </div>

</div>
</ion-content>