page-juntavecinos {

  .content {
    background-color: map-get($colors, light);
  }

  .scroll-content {
    padding: 0 !important;
  }

  .timeline-item {
      background: #fff;
      border: 0;
      padding: 0;

      margin: 0 auto;
      max-width: 472px;
      margin-top: 15px;
      margin-bottom: 10px;
      /*border-bottom: 1px solid #CCC;*/
  }
  ion-toolbar .toolbar-background {
    background-color: #FFF !important;
  }
  .timeline-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .forceh { min-height: 150px; }

  @keyframes placeHolderShimmer{
      0%{
          background-position: -468px 0
      }
      100%{
          background-position: 468px 0
      }
  }

  .animated-background {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      height: 130px;
      position: relative;
  }

  .background-masker {
      background: #fff;
      position: absolute;
  }

  .background-masker.news-img {
      top: 100px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .background-masker.news-date {
      top: 130px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .background-masker.news-date2 {
      top: 110px;
      left: 60%;
      width: 40%;
      height: 20px;
  }
  .background-masker.news-title {
      top: 160px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .buttonWrapper {
    display: inline-block;
  }
  .buttonWrapper button {
    min-width: 90px;
    height: 30px;
  }
  h2 {
    font-size: 25px;
    margin:0;
  }
  .error-box {
    padding: 20px;
    text-align:center;
  }
  .subheader {
  padding-left: 20px;
  padding-right: 20px;
  }
  .subheader h2 {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .grid ion-col {
    text-align: center;

  }
  .grid button {
    padding:0;
    background-color: transparent !important;
  }
  .grid button.activated img {
    border: 3px solid #116362;
  }
  .grid button label { 
    font-size: 15px;
  }
  .grid button img {
    border-radius: 50%;
    max-width: 75%;
    border: 3px solid #9eeeb1;
  }

  .content-custom {
    padding: 20px;
    text-align:justify;
  }



  ion-list.faqs {
    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
    }
    ion-label {
      font-weight: bold;
      div {
        text-transform: none;
        font-size: 0.8em;
        white-space: normal;
        text-align: justify;
        font-weight: normal;
      }
    }
    ion-icon  {
      font-size: 25px;
      padding: 0;
      text-align: center;
      position: absolute;
      right: 3px;
      top: 18px;
      &:before {
        font-weight: bold;
      }
    }
  }

  .formContainer .list > .item-block:first-child {
    border-top: 0;
  }
}

