page-juntavecinos {

  .content {
    background-color: map-get($colors, light);
  }

  .scroll-content {
    padding: 0 !important;
  }

  .card {
    margin: 10px;
    width: calc(100% - 20px);

    .card-header {
      padding: 1.2rem 1.6rem;
    }
  }

  .centered {
    text-align: center;
  }

  .publicityBanner img {
    max-width: 100%;
    width: 100%;
  }
  .publicityBanner {
    width: 100%;
    /*
    height: 150px;
    background: url(/assets/img/publicity.png);
    background-size: cover;
    background-position: center;
    */
  }

  .swiper-pagination {
    display: none;
  }

  .subTitle {
    padding: 20px;
    padding-bottom: 0;
    font-size: 1.3rem;
    font-weight: 800;
  }

  .slidesWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .refresher-pulling-icon ion-icon {
    font-family: "Ionicons" !important;
  }


  .timeline-item {
      background: #fff;
      border: 0;
      padding: 0;

      margin: 0 auto;
      max-width: 472px;
      margin-top: 15px;
      margin-bottom: 10px;
      /*border-bottom: 1px solid #CCC;*/
  }
  ion-toolbar .toolbar-background {
    background-color: #FFF !important;
  }
  .timeline-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .forceh { min-height: 150px; }

  @keyframes placeHolderShimmer{
      0%{
          background-position: -468px 0
      }
      100%{
          background-position: 468px 0
      }
  }

  .animated-background {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      height: 130px;
      position: relative;
  }

  .background-masker {
      background: #fff;
      position: absolute;
  }

  .background-masker.news-img {
      top: 100px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .background-masker.news-date {
      top: 130px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .background-masker.news-date2 {
      top: 110px;
      left: 60%;
      width: 40%;
      height: 20px;
  }
  .background-masker.news-title {
      top: 160px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
}

