<ion-menu [content]="content" id="leftMenu" class="sidenav">

  <div class="profile" *ngIf="user">
    <div class="image" [style.background-image]="'url(' + user.avatar + ')'" style="background-size: cover"></div>
    <div class="name">{{ user.first_name }} {{ user.last_name }} {{ user.company }}</div>
    <div class="scope" *ngIf="active">{{ active.name }} </div>
    <button menuClose (click)="profile()" ion-button round color="light">MI PERFIL</button>
  </div>

  <!--
  <div menuClose *ngFor="let p of pages" class="link" [ngClass]="{'selected' : p.selected}" (click)="openPage(p)">
    <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(p.title)"></span>
  </div>
  -->

  <div menuClose class="link" (click)="openPageComponent(1)">
    <span>Categorias</span>
  </div>
  <div menuClose class="link" (click)="openPageComponent(2)">
    <span>Mapa</span>
  </div>
  <div menuClose class="link" (click)="openPageComponent(3)">
    <span>Notificaciones <strong class="badges" *ngIf="notifications > 0">{{notifications}}</strong></span>
  </div>
  <div menuClose class="link" (click)="openPageComponent(4)">
    <span>Junta de Vecinos</span>
  </div>

  
  <div menuClose *ngFor="let zone of zones" class="link destacado" [ngClass]="{'selected' : selected}" (click)="switchActive(zone)">
    <span><strong>Administrar</strong><br />{{zone.name}}</span>
  </div>

  <div menuClose class="link" (click)="contacto()">
    <span>Contacto</span>
  </div>

  <div menuClose class="link" (click)="closeSession()">
    <span>{{'APP_MENU.CLOSE' | translate }}</span>
  </div>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
