<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notificaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isLoading">

    <ion-list>
      <ion-item text-wrap *ngFor="let noti of notificaciones" (click)="goToAction(noti.type, noti.reference, noti.id)">
        <ion-row>
          <ion-col col-2>
            <ion-icon *ngIf="noti.readed == 1" class="off" name="radio-button-off"></ion-icon>
            <ion-icon *ngIf="noti.readed == 0" class="on" name="radio-button-on"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <strong>{{noti.title}}</strong>  <small>{{noti.created_at | date:'dd/MM/yy H:mm'}}</small> <br />
            {{noti.message}}
          </ion-col>
          <ion-col col-2 *ngIf="noti.type != ''">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <div *ngIf="notificaciones.length == 0" text-center>
      <h5>No tienes notificaciones</h5>
    </div>
  </div>
  <div *ngIf="isLoading">
    <div class="timeline-wrapper">
        <div class="timeline-item forceh">
          <div class="animated-background">
            <div class="background-masker news-img"></div>
           </div>
        </div>
        <div class="timeline-item forceh">
          <div class="animated-background">
            <div class="background-masker news-img"></div>
           </div>
        </div>
    </div>
  </div>
</ion-content>
