page-notificaciones {
  .timeline-item {
      background: #fff;
      border: 0;
      padding: 0;

      margin: 0 auto;
      max-width: 472px;
      margin-top: 15px;
      margin-bottom: 10px;
      /*border-bottom: 1px solid #CCC;*/
  }
  ion-toolbar .toolbar-background {
    background-color: #FFF !important;
  }

  .content {
    background-color: map-get($colors, light);
  }

  .timeline-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .forceh { min-height: 150px; }

  @keyframes placeHolderShimmer{
      0%{
          background-position: -468px 0
      }
      100%{
          background-position: 468px 0
      }
  }

  .animated-background {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      height: 130px;
      position: relative;
  }

  .background-masker {
      background: #fff;
      position: absolute;
  }

  .background-masker.news-img {
      top: 100px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .background-masker.news-date {
      top: 130px;
      left: 0px;
      width: 100%;
      height: 10px;
  }
  .background-masker.news-date2 {
      top: 110px;
      left: 60%;
      width: 40%;
      height: 20px;
  }
  .background-masker.news-title {
      top: 160px;
      left: 0px;
      width: 100%;
      height: 10px;
  }

  .on, .off { color: #37c4ce; }

}

