page-modalGal {
	.media {
		background-position: center;
		height: 30vh;
	}
	.scroll-content {
		background-color: #000; /*rgba(255,255,255,0.9);*/
	}
	.pd20 {
		padding: 20px;
	}
	ion-title {
		padding: 0px !important;
		padding-right: 40px !important;
		padding-left: 20px !important;
	}
	p {
	 text-align: justify;
	}

	.top img { width: 100%; max-width: 100%; }

	.swiper-pagination {
		background-color: #000; /*rgba(255,255,255,0.9);*/
	}
	.buttonWrapper {
		float: right;
		margin-right: 15px;
		display: inline-block;
	}
	.buttonWrapper button {
		min-width: 90px;
		height: 30px;
	}

	.noheader {
		background-color: #000;
	}
	.noheader .toolbar-background {
		background-color: #000;
	}
	.noheader ion-icon {
		color: gray;
	}
	.swiper-pagination-bullet {
		background-color: #DDD;
	}
	.swiper-pagination-bullet-active {
		background-color: #FFF;
	}
}
